.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: rgb(160, 160, 251);

  ul {
    list-style: none;
    display: flex;
    gap: 2rem;

    a {
      text-decoration: none;
      color: #333;
      transition: color 0.2s;
      border-bottom: 2px solid transparent;
    }

    a:hover {
      color: #007bff
    }

    .active {
      color: blue;
      border-bottom-color: blue;
    }
  }
}